{% extends '@SamuelmcFdnContentWidgets/Shared/page.html.twig' %}

{% block content %}

    <h1>Edit Container\WidgetContainer</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="button">
            <i class="fa fa-save"></i>
            Save
        </button>
        <a class="button" href="{{ app.request.headers.get('referer') }}">
            <i class="fa fa-times"></i>
            Cancel
        </a>
        <a class="button" href="{{ path('container_delete', { 'name': container\WidgetContainer.name }) }}">
            <i class="fa fa-trash"></i>
            Remove
        </a>
    {{ form_end(form) }}

{% endblock %}
