{% extends '@SamuelmcFdnContentWidgets/widget_templates/widget.html.twig' %}

{% block widget %}

    <div class="row medium-up-3 large-up-6">
        <div class="column">
            {{ widget_container(widget.column1) }}
        </div>
        <div class="column">
            {{ widget_container(widget.column2) }}
        </div>
        <div class="column">
            {{ widget_container(widget.column3) }}
        </div>
        <div class="column">
            {{ widget_container(widget.column4) }}
        </div>
        <div class="column">
            {{ widget_container(widget.column5) }}
        </div>
        <div class="column">
            {{ widget_container(widget.column6) }}
        </div>
    </div>
{% endblock %}
